@model JsonExp004.Models.Comp
@{
    ViewData["Title"] = "About";
}
<head>
    <h2>
        Display
    </h2>
</head>
<body>
    <div>
        @using (Html.BeginForm("Goster", "Home", FormMethod.Get))
        {
            <button type="submit">Display</button>
        }
    </div>
</body>